
body{
    background-color: #eceff1;
}
.mokdmaenglish{
    font-size: 50;
    color: #212121;
    font-family: roboto slab;
    text-align: center;
}
.mokdma3rby{
    font-size: 50;
    color: #212121;
    font-family: roboto slab;
    text-align: center;
}
.Bluehool{
    color: var(--titlecolor);
    text-align: right;
    margin-top: 20px;
    font-size: 40;
    padding: 40;
}
.elmawq3{
        color:#37474f;
    text-align: right;
    margin-top: -80px;
    font-size: 30;
    padding: 40;
}
.elktora{
        color: var(--titlecolor);
    text-align: right;
    margin-top: -80px;
    font-size: 40;
    padding: 40;
}
.elktora1{
     color:#37474f;
    text-align: right;
    margin-top: -80px;
    font-size: 30;
    padding: 40;
    
}
.wasf{
    color: var(--titlecolor);
    text-align: right;
    margin-top: -80px;
    font-size: 40;
    padding: 40;
}
.wasf1{
         color:#37474f;
    text-align: right;
    margin-top: -80px;
    font-size: 30;
    padding: 40;
}
.sabbtakwnelbluehool{
        color: var(--titlecolor);
    text-align: right;
    margin-top: -80px;
    font-size: 40;
    padding: 40;
}
.sabbtakwnelbluehool1{
    color:#37474f;
    text-align: right;
    margin-top: -80px;
    font-size: 30;
    padding: 40;
}
.shohrtelbluehool{
    color: var(--titlecolor);
    text-align: right;
    margin-top: -80px;
    font-size: 40;
    padding: 40;
}
.shohrtelbluehool1{
    color:#37474f;
    text-align: right;
    margin-top: -80px;
    font-size: 30;
    padding: 40;
}
.mo3zamel7wades{
        color: var(--titlecolor);
    text-align: right;
    margin-top: -80px;
    font-size: 40;
    padding: 40;
}
.mo3zamel7wades1{
        color:#37474f;
    text-align: right;
    margin-top: -80px;
    font-size: 30;
    padding: 40;
}
.asbabkdomel8wasen{
            color: var(--titlecolor);
    text-align: right;
    margin-top: -80px;
    font-size: 40;
    padding: 40;
}
.asbabkdomel8wasen1{
           color:#37474f;
    text-align: right;
    margin-top: -80px;
    font-size: 30;
    padding: 40;
}
.ele7tytatellazma{
                color: var(--titlecolor);
    text-align: right;
    margin-top: -80px;
    font-size: 40;
    padding: 40;
}
.ele7tytatellazma1{
               color:#37474f;
    text-align: right;
    margin-top: -80px;
    font-size: 30;
    padding: 40;
}
.bluehole{
    width: 100px;
    height: 100px;
    margin-left: -20;
}